.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1160px;
  padding: 80px 20px;
  margin: 0 auto;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  color: #e0e0e0;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
  margin-top: -26px;
}

.experiencia-conteudo {
  position: relative;
  max-width: 45ch;
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.experiencia-item {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 75px;
  background: #f5f5f5;
  border-radius: 5px;
  max-width: 660px;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #F0F0F0;
}
.experiencia-item p {
  font-size: 0.875rem;
  text-align: start;
  max-width: 325px;
}
.experiencia-item h3 {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.cargo,
ul {
  grid-column: 2;
}
.competencia {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: start;
}

.competencia li {
  background: #ffff;
  border-radius: 5px;
  padding: 5px 10px;
}

.ano {
  position: absolute;
  font-size: 0.875rem;
  left: -100px;
  width: 80px;
  text-align: right;
}

.experiencia-item::before {
  position: absolute;
  top: 20px;
  left: -4px;
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#B6F829, #67DD0A);
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .subtitulo {
    color: #141414;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .experiencia-conteudo {
    font-size: 1,25rem;
  }


  .experiencia-item-conteudo {
    display: grid;
  }

  .ano {
    font-size: 0.875rem;
    text-align: left;
    width: initial;
    position: absolute;
    left: 100px;
    top: 22px;
  
  }
  .experiencia-item h3 {
    margin-bottom: 4px;
  }
  .experiencia-item {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}